/*This is a <div></div> tag, it can be made into a flexbox or grid*/
#root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
}

.header {
  grid-column: 1 / 3;
  text-align: center;
  background-color: coral;
  border-radius: 25px;
  margin: 1rem;
}

.content {
  grid-column: 1 / 3;
  width: 100%;
}

.personal-info {
  grid-column: 1 / 2;
  text-align: center;
  align-items: center;
  display: grid;
  gap: .5rem;
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid gray;
  border-radius: 15px;
  margin: 1rem;
}

.personal-info h1 {
  grid-row: 1 / 2;
}

.personal-info label, input, button {
  margin: .5rem;
}

.personal-name {
  grid-row: 2 / 3;
}

.personal-email {
  grid-row: 3 / 4;
}

.personal-phone {
  grid-row: 4 / 5;
}

.personal-address {
  grid-row: 5 / 6;
}

.personal-submit {
  grid-row: 6 / 7;
  justify-self: center;
  align-self: center;
  width: 10rem;
  height: 3rem;
}

.professional-info {
  text-align: center;
  align-items: center;
  gap: .5rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid gray;
  border-radius: 15px;
  margin: 1rem;
}

.professional-info h1 {
  grid-row: 1 / 2;
}

.professional-info textarea, label, input, button {
  margin: .5rem;
}

.professional-title {
  grid-row: 2 / 3;
}

.professional-company {
  grid-row: 3 / 4;
}

.professional-description {
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
}

.professional-date {
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.professional-submit {
  grid-row: 7 / 8;
  justify-self: center;
  align-self: center;
  width: 10rem;
  height: 3rem;
}

.education-info {
  text-align: center;
  align-items: center;
  gap: .5rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid gray;
  border-radius: 15px;
  margin: 1rem;
}

.education-info h1 {
  grid-row: 1 / 2;
}

.education-info label, input, button {
  margin: .5rem;
}

.education-school {
  grid-row: 2 / 3;
}

.education-degree {
  grid-row: 3 / 4;
}

.education-location {
  grid-row: 4 / 5;
}

.education-date {
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education-submit {
  grid-row: 7 / 8;
  justify-self: center;
  align-self: center;
  width: 10rem;
  height: 3rem;
}